<!DOCTYPE html>
<html lang="en">

<head>
    <title>VueJS - Guia completo</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="nota === 'A'">Parabéns, você tirou um "A"!</p>
        <p v-else-if="nota === 'B'">Você tirou um "B", mas pode melhorar</p>
        <p v-else-if="nota === 'C'">Você precisa melhorar, estude mais. Sua nota: "C"</p>
        <p v-else>Nota ainda não publicada.</p>
        <input v-model="nota" placeholder="Nota">
    </div>
    <script type="text/javascript">
        const app = Vue.createApp({
            data() {
                return {
                    nota: ''
                }
            }
        });
        app.mount('#app');
    </script>
</body>

</html>