<!DOCTYPE html>
<html lang="en">

<head>
    <title>VueJS - Guia completo</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h3 v-if="mostrarMensagem">Título alterado!</h3>
        <p>Título: {{titulo}}</p>
        <p>Título lower case: {{tituloLowerCase}}</p>
        <input v-model="novoTitulo">
        <button @click="alterarTitulo">Alterar título</button>
    </div>
    <script type="text/javascript">
        const app = Vue.createApp({
            data() {
                return {
                    titulo: 'Instância Vue',
                    novoTitulo: '',
                    mostrarMensagem: false
                }
            },
            methods: {
                alterarTitulo() {
                    this.titulo = this.novoTitulo
                    this.novoTitulo = ''
                }
            },
            computed: {
                tituloLowerCase() {
                    return this.titulo.toLowerCase().split(' ').join('-')
                }
            }
        });
        app.mount('#app');
    </script>
</body>

</html>